[submodule ".registry"]
	path = .registry
	url = https://github.com/r-multiverse/staging
	branch = HEAD
[submodule "IMD"]
	path = IMD
	url = https://github.com/humaniverse/IMD
	branch = v1.2.1
[submodule "INLA"]
	path = INLA
	url = https://github.com/inbo/INLA
	branch = v19.09.03
[submodule "Rvision"]
	path = Rvision
	url = https://github.com/swarm-lab/Rvision
	branch = v0.8.0
[submodule "SBC"]
	path = SBC
	url = https://github.com/hyunjimoon/SBC
	branch = v0.3.0
[submodule "adbcbigquery"]
	path = adbcbigquery
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-18
	subdir = r/adbcbigquery
[submodule "adbcdrivermanager"]
	path = adbcdrivermanager
	url = https://github.com/apache/arrow-adbc
	branch = b093c15341a00af954c4954696cab910fa794f6e
	subdir = r/adbcdrivermanager
[submodule "adbcflightsql"]
	path = adbcflightsql
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-18
	subdir = r/adbcflightsql
[submodule "adbcsnowflake"]
	path = adbcsnowflake
	url = https://github.com/apache/arrow-adbc
	branch = apache-arrow-adbc-18
	subdir = r/adbcsnowflake
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	branch = 3ad0370a04ccdae638755b94c3c31c8760a11193
	subdir = r
[submodule "asylum"]
	path = asylum
	url = https://github.com/humaniverse/asylum
	branch = v1.1.2
[submodule "audio.vadwebrtc"]
	path = audio.vadwebrtc
	url = https://github.com/bnosac/audio.vadwebrtc
	branch = c3de76ddc738dbb4a80ac7ec67ac9da3cba093ba
[submodule "audio.whisper"]
	path = audio.whisper
	url = https://github.com/bnosac/audio.whisper
	branch = 0.4.1
[submodule "autometric"]
	path = autometric
	url = https://github.com/wlandau/autometric
	branch = 36e98ae76feb34de0783d6505f7f2a17e972fe23
[submodule "bridgestan"]
	path = bridgestan
	url = https://github.com/roualdes/bridgestan
	branch = v2.6.2
	subdir = R
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = da99e2ba954658bdad63bffb738c4444c33a4e0e
[submodule "colorout"]
	path = colorout
	url = https://github.com/jalvesaq/colorout
	branch = v1.3-3
[submodule "crew"]
	path = crew
	url = https://github.com/wlandau/crew
	branch = c9d86b6126741b1a3586633594624b0a3347dc82
[submodule "crew.aws.batch"]
	path = crew.aws.batch
	url = https://github.com/wlandau/crew.aws.batch
	branch = bc77f5f669e805efbd3dd595264841f73a48207a
[submodule "crew.cluster"]
	path = crew.cluster
	url = https://github.com/wlandau/crew.cluster
	branch = 0999b6ebdaa89606d63115998cd373313b4d3f40
[submodule "demographr"]
	path = demographr
	url = https://github.com/humaniverse/demographr
	branch = 0.0.1
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb-r
	branch = 73d731fb8b71bc33e93c2ea91fe402e34c1d699c
[submodule "geographr"]
	path = geographr
	url = https://github.com/humaniverse/geographr
	branch = 1.0.1
[submodule "glaredb"]
	path = glaredb
	url = https://github.com/eitsupi/r-glaredb
	branch = v0.0.4
[submodule "healthyr"]
	path = healthyr
	url = https://github.com/humaniverse/healthyr
	branch = 0.0.1
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
	branch = dd6ed3a687a2d7327bb28ca46725a0a203eb2a19
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
	branch = 43f02878819ca3a868cfa74513117b9dfc141755
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
	branch = affdf8c714ace2e3b66dbcaee24ca2211633f964
[submodule "jagstargets"]
	path = jagstargets
	url = https://github.com/ropensci/jagstargets
	branch = fef92d0d74f6e9832459ce4bee69396bca21fd3f
[submodule "later"]
	path = later
	url = https://github.com/r-lib/later
	branch = 78933e3dc32bc171a4dea25d77fb27abbd726f8d
[submodule "litedown"]
	path = litedown
	url = https://github.com/yihui/litedown
	branch = 637bdf024a413116174f09c25f7d366c4bd43a94
[submodule "loneliness"]
	path = loneliness
	url = https://github.com/humaniverse/loneliness
	branch = 0.0.1
[submodule "milRex"]
	path = milRex
	url = https://github.com/datapumpernickel/milRex
	branch = 3a8c6096b0e162445f119fc2dfc46ff41d0089ba
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
	branch = 06c062f0bc239da1a3781560a65c230f0ef7805f
[submodule "multitools"]
	path = multitools
	url = https://github.com/r-multiverse/multitools
	branch = c73b933868d8c6884df4220c25779cd0874ec7de
[submodule "multiverse.internals"]
	path = multiverse.internals
	url = https://github.com/r-multiverse/multiverse.internals
	branch = a05cff7f40006968b805deb052915a76ac38bf22
[submodule "nanoarrow"]
	path = nanoarrow
	url = https://github.com/apache/arrow-nanoarrow
	branch = 33d2c8b973d8f8f424e02ac92ddeaace2a92f8dd
	subdir = r
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
	branch = 08b1ace5e45fe84152ed7413708ffa6f667b11a8
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = 2b5b485fb178e47934c8041f03d4382f79a205f6
[submodule "prophet"]
	path = prophet
	url = https://github.com/facebook/prophet
	branch = 2a57e9d342fd1c28ed1fba32d8f0dfb199c4fa02
	subdir = R
[submodule "prqlr"]
	path = prqlr
	url = https://github.com/PRQL/prqlc-r
	branch = 85d9fa32cf35a189942953a873a5351b1fae2516
[submodule "rJavaEnv"]
	path = rJavaEnv
	url = https://github.com/e-kotov/rJavaEnv
	branch = cce4a2bb65d891c3e9ba0194a67451de87a2a3ae
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	branch = 830745e8798b7f2ef7c4afd96ed40d4adfe2fdf0
[submodule "rwasm"]
	path = rwasm
	url = https://github.com/r-wasm/rwasm
	branch = a7079cbfd10428e18486578d3c309c9fd69f6d97
[submodule "stantargets"]
	path = stantargets
	url = https://github.com/ropensci/stantargets
	branch = 0.1.2
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
	branch = 64be930c5bbef7e1cc491ccc52c115991113d2ac
[submodule "tarchetypes"]
	path = tarchetypes
	url = https://github.com/ropensci/tarchetypes
	branch = ef15320481cfa9cce782237153aad38eac31a3b2
[submodule "targets"]
	path = targets
	url = https://github.com/ropensci/targets
	branch = 38e43681e0d5c8a589b41fdc80807d432ec4eb74
[submodule "targetsketch"]
	path = targetsketch
	url = https://github.com/wlandau/targetsketch
	branch = a199a734b16f91726698a19e5f147f57f79cb2b6
[submodule "taxizedb"]
	path = taxizedb
	url = https://github.com/ropensci/taxizedb
	branch = 5732f9777142cd0034b64d5ae8b9aea0605cfaab
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
	branch = v0.13.0
[submodule "tidytensor"]
	path = tidytensor
	url = https://github.com/oneilsh/tidytensor
	branch = v1.0.0
[submodule "unigd"]
	path = unigd
	url = https://github.com/nx10/unigd
	branch = b6c5181aa1c7c0888b923663b7fe903c6759d86d
[submodule "webchem"]
	path = webchem
	url = https://github.com/ropensci/webchem
	branch = 5c177df9bd91d969e10da94a9c468933f899d140
[submodule "webseq"]
	path = webseq
	url = https://github.com/stitam/webseq
	branch = v0.1.0
[submodule "wildfires"]
	path = wildfires
	url = https://github.com/humaniverse/wildfires
	branch = 0.9.0
[submodule "zstdlite"]
	path = zstdlite
	url = https://github.com/coolbutuseless/zstdlite
	branch = 585458ccbe36eaa179d8b30f04f1e3a91dc6b993
