[submodule ".registry"]
	path = .registry
	url = https://github.com/r-multiverse/staging
	branch = HEAD
[submodule "ExpBites"]
	path = ExpBites
	url = https://github.com/Nmoiroux/ExpBites
	branch = *release
[submodule "IMD"]
	path = IMD
	url = https://github.com/humaniverse/IMD
	branch = v1.2.1
[submodule "Rvision"]
	path = Rvision
	url = https://github.com/swarm-lab/Rvision
	branch = v0.8.0
[submodule "SBC"]
	path = SBC
	url = https://github.com/hyunjimoon/SBC
	branch = v0.3.0
[submodule "adbcbigquery"]
	path = adbcbigquery
	url = https://github.com/apache/arrow-adbc
	branch = c18f54a033651ed435c28161f1beaf062eca0720
	subdir = r/adbcbigquery
[submodule "adbcdrivermanager"]
	path = adbcdrivermanager
	url = https://github.com/apache/arrow-adbc
	branch = c18f54a033651ed435c28161f1beaf062eca0720
	subdir = r/adbcdrivermanager
[submodule "adbcflightsql"]
	path = adbcflightsql
	url = https://github.com/apache/arrow-adbc
	branch = c18f54a033651ed435c28161f1beaf062eca0720
	subdir = r/adbcflightsql
[submodule "adbcsnowflake"]
	path = adbcsnowflake
	url = https://github.com/apache/arrow-adbc
	branch = c18f54a033651ed435c28161f1beaf062eca0720
	subdir = r/adbcsnowflake
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	branch = ee4d09ebef61c663c1efbfa4c18e518a03b798be
	subdir = r
[submodule "asylum"]
	path = asylum
	url = https://github.com/humaniverse/asylum
	branch = v1.1.2
[submodule "audio.vadwebrtc"]
	path = audio.vadwebrtc
	url = https://github.com/bnosac/audio.vadwebrtc
	branch = c3de76ddc738dbb4a80ac7ec67ac9da3cba093ba
[submodule "audio.whisper"]
	path = audio.whisper
	url = https://github.com/bnosac/audio.whisper
	branch = 0.4.1
[submodule "autometric"]
	path = autometric
	url = https://github.com/wlandau/autometric
	branch = 36e98ae76feb34de0783d6505f7f2a17e972fe23
[submodule "bayesplot"]
	path = bayesplot
	url = https://github.com/stan-dev/bayesplot
	branch = *release
[submodule "bridgestan"]
	path = bridgestan
	url = https://github.com/roualdes/bridgestan
	branch = v2.7.0
	subdir = R
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	branch = da99e2ba954658bdad63bffb738c4444c33a4e0e
[submodule "colorout"]
	path = colorout
	url = https://github.com/jalvesaq/colorout
	branch = v1.3-3
[submodule "crew"]
	path = crew
	url = https://github.com/wlandau/crew
	branch = c03b80222289c9c94b096f4883d9121ffb8673ca
[submodule "crew.aws.batch"]
	path = crew.aws.batch
	url = https://github.com/wlandau/crew.aws.batch
	branch = 51370ab9e1d1c11a0ee1be0c91a67bbad8db78d3
[submodule "crew.cluster"]
	path = crew.cluster
	url = https://github.com/wlandau/crew.cluster
	branch = f5bb1d39d60f5b6204f4b1ca3090f2b11a5246b9
[submodule "deeptime"]
	path = deeptime
	url = https://github.com/willgearty/deeptime
	branch = *release
[submodule "deeptimedata"]
	path = deeptimedata
	url = https://github.com/willgearty/deeptimedata
	branch = *release
[submodule "demographr"]
	path = demographr
	url = https://github.com/humaniverse/demographr
	branch = 0.0.1
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb-r
	branch = 76b95a4536054187cb3605da248f94fe5f4383a2
[submodule "geographr"]
	path = geographr
	url = https://github.com/humaniverse/geographr
	branch = 1.0.1
[submodule "geotargets"]
	path = geotargets
	url = https://github.com/ropensci/geotargets
	branch = *release
[submodule "ggsurveillance"]
	path = ggsurveillance
	url = https://github.com/biostats-dev/ggsurveillance
	branch = *release
[submodule "glaredb"]
	path = glaredb
	url = https://github.com/eitsupi/r-glaredb
	branch = ff810e8c5a1b7050d84b375b9ef33210102213f0
[submodule "healthyr"]
	path = healthyr
	url = https://github.com/humaniverse/healthyr
	branch = 0.0.1
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
	branch = dd6ed3a687a2d7327bb28ca46725a0a203eb2a19
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
	branch = 43f02878819ca3a868cfa74513117b9dfc141755
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
	branch = affdf8c714ace2e3b66dbcaee24ca2211633f964
[submodule "jagstargets"]
	path = jagstargets
	url = https://github.com/ropensci/jagstargets
	branch = fef92d0d74f6e9832459ce4bee69396bca21fd3f
[submodule "later"]
	path = later
	url = https://github.com/r-lib/later
	branch = 78933e3dc32bc171a4dea25d77fb27abbd726f8d
[submodule "litedown"]
	path = litedown
	url = https://github.com/yihui/litedown
	branch = 637bdf024a413116174f09c25f7d366c4bd43a94
[submodule "loneliness"]
	path = loneliness
	url = https://github.com/humaniverse/loneliness
	branch = 0.0.1
[submodule "loo"]
	path = loo
	url = https://github.com/stan-dev/loo
	branch = *release
[submodule "milRex"]
	path = milRex
	url = https://github.com/datapumpernickel/milRex
	branch = 3a8c6096b0e162445f119fc2dfc46ff41d0089ba
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
	branch = 170d0216836878ea501710046f0859b9b33006f2
[submodule "multitools"]
	path = multitools
	url = https://github.com/r-multiverse/multitools
	branch = c73b933868d8c6884df4220c25779cd0874ec7de
[submodule "multiverse.internals"]
	path = multiverse.internals
	url = https://github.com/r-multiverse/multiverse.internals
	branch = e35da5520b2635dd61fad8c1082bf2f0ef2861a7
[submodule "mutagen"]
	path = mutagen
	url = https://github.com/gvelasq/mutagen
	branch = *release
[submodule "nanoarrow"]
	path = nanoarrow
	url = https://github.com/apache/arrow-nanoarrow
	branch = 2cfba631b40886f1418a463f3b7c4552c8ae0dc7
	subdir = r
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
	branch = 68eb478e6151f2fd72e3c397edfd98bdd6768be8
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = 458e0998cdb9ada5ad3528edcb59722cf30c77fa
[submodule "polars0"]
	path = polars0
	url = https://github.com/rpolars/r-polars0
	branch = 8972f0106e87e1f02da005613855fe99628d66db
[submodule "posterior"]
	path = posterior
	url = https://github.com/stan-dev/posterior
	branch = *release
[submodule "posteriordb"]
	path = posteriordb
	url = https://github.com/stan-dev/posteriordb-r
	branch = *release
[submodule "projpred"]
	path = projpred
	url = https://github.com/stan-dev/projpred
	branch = *release
[submodule "prophet"]
	path = prophet
	url = https://github.com/facebook/prophet
	branch = v1.1.7
	subdir = R
[submodule "prqlr"]
	path = prqlr
	url = https://github.com/PRQL/prqlc-r
	branch = 85d9fa32cf35a189942953a873a5351b1fae2516
[submodule "rJavaEnv"]
	path = rJavaEnv
	url = https://github.com/e-kotov/rJavaEnv
	branch = cce4a2bb65d891c3e9ba0194a67451de87a2a3ae
[submodule "riem"]
	path = riem
	url = https://github.com/ropensci/riem
	branch = *release
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	branch = 830745e8798b7f2ef7c4afd96ed40d4adfe2fdf0
[submodule "rredlist"]
	path = rredlist
	url = https://github.com/ropensci/rredlist
	branch = *release
[submodule "rstanarm"]
	path = rstanarm
	url = https://github.com/stan-dev/rstanarm
	branch = *release
[submodule "rwasm"]
	path = rwasm
	url = https://github.com/r-wasm/rwasm
	branch = 005588296e03080357c7140c1eaf8b47ccabe0bc
[submodule "saperlipopette"]
	path = saperlipopette
	url = https://github.com/ropensci-training/saperlipopette
	branch = *release
[submodule "shinystan"]
	path = shinystan
	url = https://github.com/stan-dev/shinystan
	branch = *release
[submodule "stantargets"]
	path = stantargets
	url = https://github.com/ropensci/stantargets
	branch = 0.1.2
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
	branch = 64be930c5bbef7e1cc491ccc52c115991113d2ac
[submodule "tarchetypes"]
	path = tarchetypes
	url = https://github.com/ropensci/tarchetypes
	branch = ef15320481cfa9cce782237153aad38eac31a3b2
[submodule "targets"]
	path = targets
	url = https://github.com/ropensci/targets
	branch = 38e43681e0d5c8a589b41fdc80807d432ec4eb74
[submodule "targetsketch"]
	path = targetsketch
	url = https://github.com/wlandau/targetsketch
	branch = a199a734b16f91726698a19e5f147f57f79cb2b6
[submodule "taxizedb"]
	path = taxizedb
	url = https://github.com/ropensci/taxizedb
	branch = v0.3.1
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
	branch = 5acc4a512a1d81cf3187ff14f4718f55d2105b44
[submodule "tidytab"]
	path = tidytab
	url = https://github.com/gvelasq/tidytab
	branch = *release
[submodule "tidytensor"]
	path = tidytensor
	url = https://github.com/oneilsh/tidytensor
	branch = v1.0.0
[submodule "unigd"]
	path = unigd
	url = https://github.com/nx10/unigd
	branch = b6c5181aa1c7c0888b923663b7fe903c6759d86d
[submodule "weathercan"]
	path = weathercan
	url = https://github.com/ropensci/weathercan
	branch = *release
[submodule "webchem"]
	path = webchem
	url = https://github.com/ropensci/webchem
	branch = 2131a4e718996f16467be458fd7378116523414d
[submodule "webseq"]
	path = webseq
	url = https://github.com/stitam/webseq
	branch = v0.1.0
[submodule "wildfires"]
	path = wildfires
	url = https://github.com/humaniverse/wildfires
	branch = 0.9.0
[submodule "zstdlite"]
	path = zstdlite
	url = https://github.com/coolbutuseless/zstdlite
	branch = 585458ccbe36eaa179d8b30f04f1e3a91dc6b993
